<hr class="row-divider" />

<div class="well">
<div class="row">
        <div class="grid-6">
          <div>
                <h1>
                        Try it free for 30 days
                </h1>						
                <p>
                  (no credit card information required)
                </p>					
                </div>
        </div>
        <div class="grid-5">
          <div>
            <a class="btn btn-warning btn-large" href="https://secure.fleetnext.com/signup">
              Signup now FREE !
            </a>
           </div>
        </div>								
</div> <!-- /row -->
</div> <!-- /well -->	