<div id="page-title">

        <h1>About us</h1>
        <p>Next generation fleet management solutions.</p>

</div> <!-- /page-title -->

<div id="content">

        <div class="container">
          
                <div class="row">

                <div class="grid-9">
                      <p class="well">
                        Working with our early adopters, we continue to improve the scope and quality of our fleet software to help customers minimize 
                        fleet costs, maintain better vehicles and improve productivity.
                      </p>

                      <br/>

                      <h3>Our design philosophy</h3>
                      <ul>
                        <li>
                          <p>
                            <span>Ease of use</span> <br/>
                            Make fleet software with beautiful user interfaces. 
                            Better user interface means you don't have to spend hours figuring out how to use our software (software which aims to improve productivity in the first place).                            
                          </p>
                        </li>
                        <li>
                          <p>
                            <span>Collaborative</span> <br/>
                            Fleet software should enable conversations between the fleet owners, fleet managers and other stakeholders.
                            It should serve as a virtual workspace for sharing of data between users.
                          </p>
                        </li>                          
                        <li>                          
                          <p>
                             <span>Software should just work </span><br/>                             
                             Fleet software should work right out of box with useful default settings.
                             There should not be any long "implementation cycles".
                             Sign up today and start using it.
                           </p>
                        </li>
                        <li>                          
                          <p>
                            <span>Power of web-based software</span> <br/>
                            Web-based means there is nothing to download or install. 
                            Access using a web-browser from any device, any location. 
                            Being hosted in "the cloud", means we manage the databases and servers while you focus on core business.                            
                          </p>
                        </li>
                        <li>                          
                          <p>
                            <span>Always evolving</span> <br/>
                            Our software is continously updated, improved as per customer feedback, ideas and suggestions. 
                            Updates are seamlessly pushed to every user - no customer has a stale software version.
                          </p>
                        </li>
                      </ul>

                </div>

                <div class = "grid-3">
                  <p class="well">
                    Chintan Doshi <br/>
                    <small>Founder</small> <br/><br/>
                    <a href="http://in.linkedin.com/pub/chintan-doshi/12/993/a6b">
                    <img src="/assets/linkedin-icon.png" alt="Linkedin profile" title="Linkedin profile" />
                    </a>                   
                  </p>
                </div>
                  
                </div>

        </div> <!-- /container -->

</div> <!-- /content -->
	
