<div id="page-title">

        <h1>About Us</h1>
        <p>Next generation fleet management solutions.</p>

</div> <!-- /page-title -->

<div id="content">

        <div class="container">
          
                <div class="row">

                <div class="grid-12">
                      <h3>
                      Our story
                      </h3>

                      <p>                                                                   
                      We are a software solutions company based out of Mumbai, India developing cutting-edge innovative products 
                      in the vehicle fleet management space.
                      We started off in 2010 developing customised applications for logistics providers who were
                      faced with lack of quality, easy-to-use and affordable off-the-shelf software solutions for fleet management.
                      Often, many such companies resorted to use of legacy desktop packages or spreadsheets (even manual paper records in some cases)
                      that made fleet management tedious and cumbersome,  scaling up difficult and inter-city branch/office collaboration time-consuming. <br/><br/>
                      
                      With that context, Fleetnext evolved as an <b>intuitive, afforable, collaborative, quick-to-implement</b> web-based fleet management solution based on a
                      SaaS (Software-as-a-service) delivery developed using <b>modern, cutting-edge cloud computing technologies and infrastructure</b>.
                      Working with our early adopeters, we continue to improve the scope and quality of our product to help our clientele manage 
                      fleet administration costs, improve productivity and enhance visibility.
                      </p>
                      
                </div>
                  
                </div>

        </div> <!-- /container -->

</div> <!-- /content -->
	
