<% content_for :head do  %>
  <%= stylesheet_link_tag "faq.css" %>
<% end %>



<div id="page-title">

        <h1>Frequently Asked Questions</h1>

</div> <!-- /page-title -->




<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-12">

                                <ol class="faq-list">

                                        <li>
                                             <div class="faq-icon"><div class="faq-number">1</div></div>
                                                <div class="faq-text">
                                                        <h4>What is Fleetnext ?</h4>
                                                        <p>Fleetnext is a vehicle fleet management software that helps organizations manage different aspects of its fleet operations including vehicle profiles, tyre usage, service history, preventive maintenance reminders, vehicle documentation reminders, odometer reading logs and much more.</p>	
                                                </div>	
                                        </li>

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">2</div></div>
                                                <div class="faq-text">
                                                        <h4>Who can use Fleetnext ?</h4>
                                                        <p>Fleetnext is ideal for organizations that operate a fleet of vehicles such as trucking companies, cargo parcel operators, car rental companies, radio taxis, heavy equipment movers, tour bus operators, government fleets etc</p>	
                                                </div>	
                                        </li>

                                        <li>
                                                <div class="faq-icon"><div class="faq-number">3</div></div>
                                                <div class="faq-text">
                                                        <h4>What types of vehicle can you be managed by Fleetnext ?</h4>
                                                        <p>All types of vehicles including heavy trucks , light trucks , liquid tankers , container trucks - trailers , cars , bikes , fork lifts , cranes & specialized vehicles.</p>	
                                            </div>
                                        </li>

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">4</div></div>
                                                <div class="faq-text">
                                                        <h4>What do I need to use Zetofleet ?</h4>
                                                        <p>Zetofleet is a web-based solution. It can be accessed from any branch or office using a computer with web browser and broadband internet connectivity. No local software installation or server setup is required.</p>	
                                                </div>	
                                        </li>

                                        <li>
                                                 <div class="faq-icon"><div class="faq-number">5</div></div>
                                                <div class="faq-text">
                                                        <h4>How does Fleetnext differ from conventional on-premise solutions ?</h4>
                                                        <p>  a) Fleetnext requires no upfront capital expenditure to setup IT infrastructure and support within your organization.</p>
                        <p>  b) A customer simply rents and starts using Fleetnext (hosted & managed by us) unlike traditional solutions that require complex installation & setup that can take months to implement.</p>
                        <p>  c) Customers pay a monthly subscription fee depending on their usage.New features and functionality are continuously added to Fleetnext based on customer feedback and business requirements. There are no separate costs for these upgrades.</p>
                    </div>
                                        </li>

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">6</div></div>
                                                <div class="faq-text">
                                                        <h4>Is my data safe ?</h4>
                                                        <p>Fleetnext ensures your valuable data is only accessible to authorized users within the organization. Access to individual modules can be controlled by assigning fine-grained permissions to each user - ranging from "full access" to "view only" to "no access". Audit logs are maintained to monitor activity of your users. Data protection measures within our company are undertaken for the privacy of your data.</p>
                                            </div>
                                        </li>

                                        <li>
                                                 <div class="faq-icon"><div class="faq-number">7</div></div>
                                                <div class="faq-text">
                                                        <h4> Can I get a copy of my data for local backup ?</h4>
                                                        <p>Yes. At any given time, you can export data from any module to Microsoft excel spreadsheet.  You own your data.</p>
                                            </div>
                                        </li>



                                </ol>

                        </div> <!-- /grid-12 -->

                </div> <!-- /row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->
	
