<% content_for :head do  %>
  <%= stylesheet_link_tag "tour.css" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5.css" %>
<% end %>

<div id="page-title">

        <h1> Features overview </h1>
        <p>Fleetnext helps with record-keeping, analysis and reporting of important vehicle data</p>

</div> <!-- /page-title -->


<div id="content">

        <div class="container">

                <div class="row">
                      <div class="grid-8">
                          <div class="service-item">
                              <h3>
                              Vehicle profiles
                              </h3>
                              <br/>
                              <p>
                              (a) Create a profile for every vehicle in the fleet. Store information about its make, model, license plate number, ownership details, 
                              engine number, chassis number, fuel type, base location/branch. <br/><br/>
                              (b) Update purchase details such as purchase date, vehicle finance, invoice number etc.   <br/><br/>
                              (c) Scan and upload any relevant paperwork such as registration certificates, warranty cards, invoices and manuals.
                              </p>
                           </div>
                      </div>
                      <div class="grid-4">
                          <div class="service-item gallery">
                            <a href="/assets/screenshots/vehicles.png" title="Vehicle profiles">
                              <img src="/assets/screenshots/tb/vehicles.png" alt="Vehicle profiles" />
                            </a>
                            <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>
                          </div>    
                      </div>                  
                </div> <!-- /row -->
                <hr class="row-divider" />
                
                
                <div class="row">
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/documents.png" title="Vehicle document renewal reminders">
                                <img src="/assets/screenshots/tb/documents.png" alt="Vehicle document renewal reminders" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>                       
                        <div class="grid-8">
                          <div class="service-item">
                            <h3>
                            Renew vehicle documents on time
                            </h3>
                            <br/>
                            <p>(a) Simplify the renewal of vehicle documents such as insurance certificates,taxes, fitness certificates, permits to meet statutory compliance. <br/><br/>
                               (b) For each document, keep track of its expiry date, reference number, issuing authority. <br/><br/>
                               (c) Find documents that are due soon or have already expired. <br/><br/>
                               (d) Setup email reminders to alert you when a document is due for renewal.<br/><br/>
                            </p>
                          </div>
                        </div>
                </div> <!-- /row -->
                <hr class="row-divider" />
                
                <div class="row">
                        <div class="grid-8">
                          <div class="service-item">
                            <h3>
                            Manage vehicle workorders
                            </h3>
                            <br/>
                            <p>
                              (a) Store service records for scheduled vehicle maintenance and unforeseen repair work. <br/><br/>
                              (b) Track details such as tasks (labour) involved, parts consumed, service costs, meter reading, invoice. <br/><br/>
                              (c) Upload any related paperwork such as workorders, invoice etc. <br/><br/>
                            </p>
                          </div>
                        </div>   
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/services.png" title="Vehicle service workorders">
                                <img src="/assets/screenshots/tb/services.png" alt="Vehicle service workorders" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>    
                </div> <!-- /row -->
                <hr class="row-divider" />                         
                
                
                <div class="row">
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/pm.png" title="Preventive maintenance reminders">
                                <img src="/assets/screenshots/tb/pm.png" alt="Preventive maintenance reminders" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>                      
                        <div class="grid-8">
                          <div class="service-item">
                            <h3>
                            Stay on top of preventive maintenance
                            </h3>
                            <br/>
                            <p>
                              (a) Setup customized service reminders both by time (e.g. Change engine oil every 365 days) and by mileage (e.g. Change engine oil every 10000 kilometres). <br/><br/>
                              (b) When a new service is logged, next service due date is automatically calculated. <br/><br/>
                              (c) Setup email reminders to alert you when a vehicle is due for service. <br/><br/>                            
                            </p>
                            </div>
                        </div>
                </div> <!-- /row -->
                <hr class="row-divider" />                
                
                
               <div class="row">
                       <div class="grid-8">
                          <div class="service-item">
                                <h3>
                                Comprehensive tyre management
                                </h3>
                                <br/>
                                <p>
                                  (a) Track the lifecycle of a tyre from purchase to scrap. <br/> <br/>
                                  (b) Store important tyre attributes such as serial number, make and size.  <br/><br/>
                                  (c) See tyres currently fitted on a vehicle. <br/><br/>
                                  (d) Keep record of any tyre services such as remoulding/retreading/recapping. <br/><br/>
                                  (e) Find spare tyres. <br/><br/>
                                </p>
                           </div>
                        </div>
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/tyres.png" title="Tyre management">
                                <img src="/assets/screenshots/tb/tyres.png" alt="Tyre management" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>                            
                </div> <!-- /row -->
                <hr class="row-divider" />

                <div class="row">
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/fuel.png" title="Fuel management">
                                <img src="/assets/screenshots/tb/fuel.png" alt="Fuel management" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>                    
                        <div class="grid-8">
                          <div class="service-item">
                            <h3>
                            Track fuel consumption
                            </h3>
                            <br/>
                            <p>
                                (a) Add daily fuel purchases (paid by cash, credit or fleetcards) and capture details such as quantity issued, rate and total amount. <br/><br/>
                                (b) Audit fuel transactions by reconciling them against vendor invoices or fleetcard statements.  <br/><br/>
                                (c) Calculate vehicle fuel efficiency and total fuel costs. <br/><br/>
                            </p>
                            </div>
                        </div>                          
                </div> <!-- /row -->
                <hr class="row-divider" />  

                <div class="row">                   
                       <div class="grid-8">
                          <div class="service-item">
                                <h3>
                                Store driver records
                                </h3>
                                <br/>
                                <p>
                                  (a) Store driver profiles with bio-data, address, contact information. <br/><br/>
                                  (b) Update current status if a driver is on leave.  <br/><br/>                        
                                  (c) Manage driver license renewals with email reminders.<br/><br/>
                                  (d) Keep records of driver training programs (e.g. defensive driving course).<br/><br/>
                                </p>
                           </div>
                        </div>
                        <div class="grid-4">
                              <div class="service-item gallery">
                                <a href="/assets/screenshots/drivers.png" title="Driver records and licenses">
                                  <img src="/assets/screenshots/tb/drivers.png" alt="Driver records and licenses" />
                                </a>
                                <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                                
                              </div>    
                        </div>                           
                </div> <!-- /row -->
                <hr class="row-divider" />
                
                
                <div class="row">
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/mileage.png" title="Vehicle meter readings">
                                <img src="/assets/screenshots/tb/mileage.png" alt="Vehicle meter readings" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>                     
                        <div class="grid-8">
                          <div class="service-item">
                            <h3>
                            Update vehicle meter reading
                            </h3>
                            <br/>
                            <p>
                              (a) Manually update vehicle meter reading (odometer reading) on a daily basis.  <br/><br/>
                              (b) Units (kilometres and miles) can be configured on per-vehicle basis.   <br/><br/>
                            </p>
                            </div>
                        </div>                         
                </div> <!-- /row -->
                <hr class="row-divider" />

                <div class="row">                     
                       <div class="grid-8">
                          <div class="service-item">
                                <h3>
                                 Multiple reports
                                </h3>
                                <br/>
                                <p>
                                  (a) Generate PDF reports to export vehicle workorders, fuel transactions, tyre history and other fleet data. <br/><br/>
                                  (b) Analyze maintenance, fuel and tyre costs including key metrics such as fuel efficiency, service costs per kilometre (or per mile), tyre costs per kilometre (or per mile).  <br/><br/>                                                          
                                </p>
                           </div>
                        </div>
                       <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/reports.png" title="Multiple PDF reports">
                                <img src="/assets/screenshots/tb/reports.png" alt="Multiple PDF reports" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                       </div>                         
                </div> <!-- /row -->
                <hr class="row-divider" />                
                

                <div class="row">
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/backup.png" title="Backup account data">
                                <img src="/assets/screenshots/tb/backup.png" alt="Backup account data" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>                    
                        <div class="grid-8">
                          <div class="service-item">
                                 <h3>
                                    Backup account data
                                 </h3>
                                  <br/>
                                 <p>
                                   (a) Select one or more vehicles and download all its information (such as vehicle profile, acquisition, disposal, documents, tyres, service history, fuel history, meter readings) to Microsoft excel file . <br/><br/>
                                   (b) At any given point of time, you can take a backup of your entire account and save a local copy on your computer. <br/><br/>
                                 </p>
                           </div>
                        </div>                          
                </div> <!-- /row -->
                <hr class="row-divider" />

                <div class="row">                    
                       <div class="grid-8">
                          <div class="service-item">
                          <h3>
                          Easy user administration
                          </h3>
                          <br/>
                          <p>
                            (a) Fleetnext is a multi-user fleet management software. <br/><br/>
                            (b) Add and remove users as your organization evolves. <br/><br/>
                            (c) See complete log of user activity.<br/><br/>
                            (d) Each user can be assigned custom permissions for viewing, updating, exporting data across different modules. <br/><br/>
                          </p>
                          </div>
                        </div>
                        <div class="grid-4">
                            <div class="service-item gallery">
                              <a href="/assets/screenshots/users.png" title="User administration">
                                <img src="/assets/screenshots/tb/users.png" alt="User administration" />
                              </a>
                              <p class="muted"><i class="icon-zoom-in"></i> Click on thumbnail to enlarge</p>                              
                            </div>    
                        </div>                          
                </div> <!-- /row -->
                
                <hr/>

                <div class="row">
                  <div class="grid-12 pagination-centered">
                    <%= link_to "See pricing", pricing_path %>
                  </div>
                </div>               

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->
	
