<% content_for :head do  %>
  <%= stylesheet_link_tag "homepage.css" %>
<% end %>

<div id="masthead">

        <div class="container">

                <div id="masthead-carousel" class="carousel slide">


                        <!-- Carousel items -->
                        <div class="carousel-inner">

                                <div class="active item">
                                        <img src="/assets/gal_1.png" alt="Fleet management online" />

                                        <div class="masthead-details">

                                                <h2>Organize fleet data</h2>

                                                <p>
                                                  <i class="icon-pencil"></i> Manage vehicle documents <br/>
                                                  <i class="icon-pencil"></i> Store service and repair records <br/>
                                                  <i class="icon-pencil"></i> Preventive maintenance reminders <br/>
                                                  <i class="icon-pencil"></i> Manage fleet tyres <br/>                                                  
                                                  <i class="icon-pencil"></i> Track fuel spending <br/>
                                                  <i class="icon-pencil"></i> Store driver profiles <br/> 
                                                  <i class="icon-pencil"></i> Log meter readings <br/>                                                                                                    
                                                  <i class="icon-pencil"></i> Upload paperwork and documents <br/>
                                                  <i class="icon-pencil"></i> Setup email reminders <br/>                                                  
                                                </p>


                                        </div> <!-- /masthead-details -->
                                </div> <!-- /item -->

                                <div class="item">
                                       <img src="/assets/graph-icon.png" alt="Fleet management software benefits" />

                                        <div class="masthead-details">

                                                <h2>Benefits</h2>

                                                <p>
                                                  <i class="icon-ok"></i> Improve record-keeping and reduce paperwork <br/>
                                                  <i class="icon-ok"></i> Understand patterns in repairs, maintenance, tyre and fuel spending <br/>
                                                  <i class="icon-ok"></i> Reduce total cost of vehicle ownership (TCO) <br/>
                                                  <i class="icon-ok"></i> Help schedule preventive maintenance, control breakdowns <br/>
                                                  <i class="icon-ok"></i> Ensure compliance and avoid late renewal fines for vehicle documents <br/> 
                                                </p>

                                        </div> <!-- /masthead-details -->
                                </div> <!-- /item -->                                

                                <div class="item">
                                  <a href="http://secure.fleetnext.com/signup">
                                         <img src="/assets/gal_3.png" alt="Signup free trial"/>
                                  </a>

                                        <div class="masthead-details">

                                                <h2>Try it for free</h2>

                                                <p>The 30 day trial gives you opportunity to evaluate Fleetnext. Get access to all modules and functionality.							
                                                   No credit card information is required to sign up.</p>

                                        </div> <!-- /masthead-details -->
                                </div> <!-- /item -->


                        </div> <!-- /carousel-inner -->

                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>

                </div> <!-- /masthead-carousel -->

        </div> <!-- /container -->

</div> <!-- /masthead -->




<div id="content">

        <div class="container">

                <div class="row">
                        <div id="welcome" class="grid-12">
                                <h1>Manage vehicles with easy-to-use, comprehensive and secure web-based software.</h1>
                        </div>
                </div> <!-- /row -->


                <hr class="row-divider" />


                <div class="row divider service-container">

                        <div class="grid-3">
                          <div class="service-item">
                                  <img src="/assets/fleetnext_home_14.jpg" alt="Fleetnext">
                                 <h3>
                                          What is it ?
                                                </h3>

                                                <p>Fleetnext is a vehicle maintenance and fleet management software that helps organizations 
                                                  simplify vehicle administration, save time and reduce costs.                                                   
                                                 </p>
                                                <p>
                                                  <a href="/website/tour" class="read">Take a tour &raquo;</a><br/>
                                                  <a href="/website/features" class="read">See feature list &raquo;</a>
                                                </p>
                                </div>
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/fleetnext_home_16.jpg" alt="Fleetnext">
                                        <h3>
                                           Who is it for ?
                                        </h3> 

                                        <p>Fleetnext is ideal for organizations operating a fleet of vehicles such as trucking companies, cold storage logistics, cargo parcel operators, car rental companies, radio cabs, tourist taxi operators, heavy equipment movers, tour bus operators, government fleets etc. 
                                        It scales well for all fleet sizes ranging from few vehicles to hundreds of vehicles.</p>


                                </div> 
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/fleetnext_home_18.jpg" alt="Fleetnext">
                                        <h3>
                                             How does it work ?
                                        </h3> 

                                        <p>Fleetnext is a web-based software that can be accessed from any office or branch using a computer with internet connectivity and web browser. No server setup or local software installation is required.</p>

                                </div>				
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/fleetnext_home_20.jpg" alt="Fleetnext">
                                        <h3>
                                                How much does it cost ?
                                        </h3> 

                                        <p>Fleetnext is an affordable solution that is offered on yearly subscription (rental) basis. </p>
                                        <p><a href="/website/pricing" class="read">See pricing &raquo;</a></p>

                                </div>			
                        </div>
                </div> <!-- /row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->