<% content_for :head do  %>
  <%= stylesheet_link_tag "homepage.css" %>
<% end %>

<div id="masthead">

        <div class="container">

                <div id="masthead-carousel" class="carousel slide">

                        <div class="carousel-inner">
                                <div class="active item">
                                        <img src="/assets/gal_1.png" alt="Fleetnext" />

                                        <div class="masthead-details">

                                                <h2>Fleet management online</h2>

                                                <p>
                                                  <i class="icon-pencil"></i> Manage vehicle documents <br/>
                                                  <i class="icon-pencil"></i> Store service records <br/>
                                                  <i class="icon-pencil"></i> Preventive maintenance reminders <br/>
                                                  <i class="icon-pencil"></i> Track fuel consumption <br/>
                                                  <i class="icon-pencil"></i> Store driver profiles <br/> 
                                                  <i class="icon-pencil"></i> Upload paperwork <br/>
                                                </p>


                                        </div> <!-- /masthead-details -->
                                </div> <!-- /item -->

                                <div class="item">
                                  <a href="http://secure.fleetnext.com/signup">
                                         <img src="/assets/gal_3.png" alt="Fleetnext"/>
                                  </a>

                                        <div class="masthead-details">

                                                <h2>Try it for free</h2>

                                                <p>The 30 day trial gives you opportunity to evaluate Fleetnext. Get access to all modules and functionality.							
                                                   No credit card information is required to sign up.</p>

                                        </div> <!-- /masthead-details -->
                                </div> <!-- /item -->



                        </div> <!-- /carousel-inner -->



                </div> <!-- /masthead-carousel -->

        </div> <!-- /container -->

</div> <!-- /masthead -->




<div id="content">

        <div class="container">

                <div class="row">
                        <div id="welcome" class="grid-12">
                                <h1>Manage your vehicles with easy-to-use, comprehensive and secure web-based software.</h1>
                        </div>
                </div> <!-- /row -->


                <hr class="row-divider" />


                <div class="row divider service-container">

                        <div class="grid-3">
                          <div class="service-item">
                                  <img src="/assets/fleetnext_home_14.jpg" alt="Fleetnext">
                                 <h3>
                                          What is it ?
                                                </h3>

                                                <p>Fleetnext is a vehicle maintenance and fleet management software that helps organizations 
                                                  simplify vehicle administration, save time and reduce costs.                                                   
                                                 </p>
                                                <p>
                                                  <a href="#benefits" class="read">View benefits &raquo;</a><br/>
                                                  <a href="/website/tour" class="read">Take a tour &raquo;</a>
                                                </p>
                                </div>
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/fleetnext_home_16.jpg" alt="Fleetnext">
                                        <h3>
                                           Who is it for ?
                                        </h3> 

                                        <p>Fleetnext is ideal for organizations operating a fleet of vehicles such as trucking companies, cargo parcel operators, car rental companies, radio cabs, tourist taxi operators, heavy equipment movers, tour bus operators, government fleets etc. 
                                        It scales well for all fleet sizes ranging from few vehicles to hundreds of vehicles.</p>


                                </div> 
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/fleetnext_home_18.jpg" alt="Fleetnext">
                                        <h3>
                                             How does it work ?
                                        </h3> 

                                        <p>Fleetnext is a web-based software that can be accessed from any office or branch using a computer with internet connectivity and web browser. No server setup or local software installation is required.</p>

                                </div>				
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/fleetnext_home_20.jpg" alt="Fleetnext">
                                        <h3>
                                                How much does it cost ?
                                        </h3> 

                                        <p>Fleetnext is an affordable solution that is offered on a subscription (rental) basis with plans starting as low as  <span class="note WebRupee">Rs.</span> 1,250 per month.</p>
                                        <p><a href="/website/pricing" class="read">Read More &raquo;</a></p>

                                </div>			
                        </div>
                </div> <!-- /row -->


                <hr class="row-divider" />

                <a id="benefits" href="#"></a>
                <div class="row">
                        <div id="welcome" class="grid-12 welcome">
                                <h1>Fleetnext is packed with functionality and features to increase efficiency and reduce costs.</h1>
                        </div>
                </div> 
                <div class="row work-container">
                        <div class="grid-3">
                                <h2>Key Benefits</h2>
                                
                                <p>See how vehicle maintenance and fleet maangement software can help you.</p>

                                <a href="/website/tour" class="btn btn-medium btn-success">Take a tour</a>

                        </div> <!-- /grid-3 -->

                        <div class="grid-3">
                                <div class="work-item">

                                        <h3> <img src="/assets/fleetnext_home_47.jpg">&nbsp;&nbsp;Reduce total cost of ownership</h3>
                                        <p>
                                          Vehicles are expensive assets to acquire and maintain.
                                          Vehicle service, fuel and tyre costs are significant part of fleet operating expenses. <br/><br/>
                                          Fleetnext gives you the tools to <i>make informed decisions, undertake timely actions</i> to minimize and control these costs.
                                          Fleetnext helps you gain <i>better visibility</i> of your fleet expenses in order to streamline your operations. 
                                          Reduce fraudulent transactions.
                                        </p>

                                        <h3><img src="/assets/fleetnext_home_75.jpg"> &nbsp;&nbsp;Ensure compliance</h3>
                                        <p>
                                          Vehicle documents such as permits, insurance certificates, taxes need to be renewed on timely basis to stay in compliance with local transportation authorities and avoid late renewal penalties. <br/> <br/>
                                          Fleetnext will alert you with email reminders when documents are due for renewal.
                                        </p>


                                </div>
                        </div> <!-- /grid-3 -->

                        <div class="grid-3">
                                <div class="work-item">

                                        <h3> <img src="/assets/fleetnext_home_50.jpg">&nbsp;&nbsp;Organize fleet data</h3>
                                        <p>
                                          Fleet administration is a tedious and time-consuming process. 
                                          Information can be scattered across multiple spreadsheets, files, log books placed in different cabinets across multiple offices. <br/><br/>
                                          Fleetnext saves time by giving you quick and secure online access to fleet data from any office or any branch.
                                          Any vehicle paperwork can be scanned, stored and retrieved through Fleetnext.
                                        </p>

                                        <h3> <img src="/assets/fleetnext_home_78.jpg">&nbsp;&nbsp;Scalable solution</h3>
                                        <p>
                                          Fleetnext is a robust, scalable fleet management platform. 
                                          It seamlessly accommodates additional vehicles and users as the size of your fleet grows.
                                        </p>

                                </div>
                        </div> <!-- /grid-3 -->

                        <div class="grid-3">
                                <div class="work-item">

                                        <h3> <img src="/assets/fleetnext_home_53.jpg">&nbsp;&nbsp;Extend vehicle lifetime</h3>
                                        <p>
                                          Regular preventive maintenance (PM) of your vehicles can help prolong its life and reduce vehicle downtime due to costly repairs. 
                                          With Fleetnext, you can be proactive about vehicle maintenance with timely email reminders.  <br/><br/>
                                        </p>


                                </div>
                        </div> <!-- /grid-3 -->
                </div>

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->