<% content_for :head do  %>
  <%= stylesheet_link_tag "homepage.css" %>
<% end %>





<div id="page-title">

        <h1>Web-based fleet management software</h1>
        <p>Starting as low as $99 per year.</p>

</div> <!-- /page-title -->

<div id="content">

        <div class="container">

                <div class="row">
                        <div id="welcome" class="grid-12">
                                <img src="/assets/tour/home.png" alt="Fleet management and vehicle maintenance web-based software" />
                                <br/>
                                <h1>Manage vehicles with easy-to-use, comprehensive and secure web-based software.</h1>
                                <br/>
                        </div>
                </div> <!-- /row -->

                <br/><br/>

                <div class="row">
                  <div class="grid-8 append-2 prepend-2">
                    <a href="/website/tour" class="btn btn-large btn-primary">Take a tour</a> 
                    <a href="/website/features" class="btn btn-large btn-warning">See features</a>
                  </div>
                </div>

                <hr class="row-divider" />

                <div class="row divider service-container">

                        <div class="grid-3">
                          <div class="service-item">
                                  <img src="/assets/tour/h1.png" alt="Fleetnext">
                                 <h3>
                                          What is it ?
                                                </h3>

                                                <p>Fleetnext is a vehicle maintenance and fleet management software that helps organizations 
                                                  simplify vehicle administration, save time and reduce costs.                                                   
                                                 </p>
                                                <p>
                                                  <a href="/website/tour" class="read">Take a tour &raquo;</a><br/>
                                                  <a href="/website/features" class="read">See feature list &raquo;</a>
                                                </p>
                                </div>
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/tour/h2.png" alt="Fleetnext">
                                        <h3>
                                           Who is it for ?
                                        </h3> 

                                        <p>Fleetnext is ideal for fleets of cars, buses, vans, heavy trucks, light trucks, liquid tankers, container trucks, trailers, fork lifts , cranes & specialized vehicles. 
                                        It scales well for all fleet sizes ranging from few vehicles to hundreds of vehicles.</p>


                                </div> 
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/tour/h3.png" alt="Fleetnext">
                                        <h3>
                                             How does it work ?
                                        </h3> 

                                        <p>Fleetnext is a web-based software that can be accessed from any office or branch using a computer with internet connectivity and web browser. No server setup or local software installation is required.</p>

                                </div>				
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <img src="/assets/tour/h4.png" alt="Fleetnext">
                                        <h3>
                                                How much does it cost ?
                                        </h3> 

                                        <p>Fleetnext is an affordable solution that is offered on yearly subscription (rental) basis. </p>
                                        <p><a href="/website/pricing" class="read">See pricing &raquo;</a></p>

                                </div>			
                        </div>
                </div> <!-- /row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->