<% content_for :head do  %>
  <%= stylesheet_link_tag "plan.css" %>
  <%= stylesheet_link_tag "faq.css" %>
  <%= javascript_include_tag "jquery.lightbox-0.5.js" %>
<% end %>

<div id="page-title">

        <h1>Pricing Plans</h1>
        <p>No upfront fees. Affordable pricing. No long term contract.</p>

</div> <!-- /page-title -->




<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-12">

                                <div class="pricing-plans plans-4">

                                        <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Micro	        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <span class="note WebRupee">Rs.</span>15000<span class="term">Per Annum</span>
                                                                </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->       

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li><strong>0-10 </strong> vehicles</li>
                                                                        <li>All modules and features</li>
                                                                        <li><strong>5</strong> Users</li>
                                                                        <li><strong>Unlimited</strong> Storage</li>
                                                                        <li> <strong>Limited </strong> Phone support</li>
                                                                        <li><strong>Email + Chat </strong> Support</li>
                                                                        <li> <strong>SSL </strong> security</li>
                                                                        <li><strong>Daily </strong>backups</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="javascript:;" class="btn">Start Trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Starter	        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <span class="note WebRupee">Rs.</span>35000<span class="term">Per Annum</span>
                                                                </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->       

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li><strong>0-10 </strong> vehicles</li>
                                                                        <li>All modules and features</li>
                                                                        <li><strong>5</strong> Users</li>
                                                                        <li><strong>Unlimited</strong> Storage</li>
                                                                        <li> <strong>Limited </strong> Phone support</li>
                                                                        <li><strong>Email + Chat </strong> Support</li>
                                                                        <li> <strong>SSL </strong> security</li>
                                                                        <li><strong>Daily </strong>backups</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="javascript:;" class="btn">Start Trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container best-value">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Business	        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <span class="note WebRupee ">Rs.</span>75000<span class="term">Per Annum</span>
                                                                </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->	          

                                                <div class="plan-features">
                                                                <ul>					
                                                                        <li><strong>0-10 </strong> vehicles</li>
                                                                        <li>All modules and features</li>
                                                                        <li><strong>5</strong> Users</li>
                                                                        <li><strong>Unlimited</strong> Storage</li>
                                                                        <li> <strong>Limited </strong> Phone support</li>
                                                                        <li><strong>Email + Chat </strong> Support</li>
                                                                        <li> <strong>SSL </strong> security</li>
                                                                        <li><strong>Daily </strong>backups</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="javascript:;" class="btn">Start Trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Enterprise	        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <span class="note WebRupee">Rs.</span>95000<span class="term">Per Annum</span>
                                                                </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->	       

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li><strong>100+</strong> vehicles</li>
                                                                        <li> Call us for enterprise plans based on your requirements.</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="javascript:;" class="btn">Start Trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->

                                    </div> <!-- /plan-container -->


                                </div> <!-- /pricing-plans -->

                        </div> <!-- /grid-12 -->

                </div> <!-- /row -->
                <div class="row">
                  <div class="grid-12">
                     <ol class="faq-list">

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">1</div></div>
                                                <div class="faq-text">
                                                        <h4>What is Fleetnext ?</h4>
                                                        <p>Fleetnext is a vehicle fleet management software that helps organizations manage different aspects of its fleet operations including vehicle profiles, tyre usage, service history, preventive maintenance reminders, vehicle documentation reminders, odometer reading logs and much more.</p>	
                                                </div>	
                                        </li>

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">2</div></div>
                                                <div class="faq-text">
                                                        <h4>Who can use Fleetnext ?</h4>
                                                        <p>Fleetnext is ideal for organizations that operate a fleet of vehicles such as trucking companies, cargo parcel operators, car rental companies, radio taxis, heavy equipment movers, tour bus operators, government fleets etc</p>	
                                                </div>	
                                        </li>

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">3</div></div>
                                                <div class="faq-text">
                                                   <h4>What types of vehicle can you be managed by Fleetnext ?</h4>
                                                        <p>All types of vehicles including heavy trucks , light trucks , liquid tankers , container trucks - trailers , cars , bikes , fork lifts , cranes & specialized vehicles.</p>	
                                            </div>
                                        </li>

                                        <li>
                                           <div class="faq-icon"><div class="faq-number">4</div></div>
                                                <div class="faq-text">
                                                        <h4>What do I need to use Zetofleet ?</h4>
                                                        <p>Zetofleet is a web-based solution. It can be accessed from any branch or office using a computer with web browser and broadband internet connectivity. No local software installation or server setup is required.</p>	
                                           </div>	
                                        </li>
                           </ol>
                  </div>
                </div><!-- /row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->