<% content_for :head do  %>
  <%= stylesheet_link_tag "tour.css" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5.css" %>
<% end %>

<div id="page-title">

        <h1>Simplify fleet management</h1>
        <p>See how a web-based vehicle maintenance and fleet mangement software can help you</p>

</div> <!-- /page-title -->


<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-12">


                                <div class="service-item">

                                        <h3> <img src="/assets/fleetnext_home_50.jpg">&nbsp;&nbsp;Improve record-keeping and reduce paperwork</h3><br/>
                                        <p>
                                          Fleet administration is a tedious and time-consuming process. 
                                          Information can be scattered across multiple spreadsheets, files, log books placed in different cabinets across multiple offices. <br/><br/>
                                          Fleetnext enables quick and secure access to vehicle data from any office or any branch.
                                          Any vehicle paperwork can be scanned, stored and retrieved on Fleetnext.
                                        </p>
                                </div>

                                <hr/>

                                <div class="service-item">

                                        <h3> <img src="/assets/fleetnext_home_47.jpg">&nbsp;&nbsp;Reduce total cost of (TCO) vehicle ownership</h3><br/>
                                        <p>
                                          Vehicles are expensive assets to acquire and maintain.
                                          Vehicle repair, service, fuel and tyre costs are significant part of fleet operating expenses. <br/><br/>
                                          Fleetnext gives you the tools to understand patterns in repairs, maintenance, tyre and fuel spending.
                                          It enables you to <u>make informed decisions, undertake timely actions</u> to minimize and control these costs.
                                          Fleetnext helps you gain <u>better visibility</u> of your fleet expenses in order to streamline your operations. 
                                        </p>
                                </div>

                                <hr/>

                                <div class="service-item">

                                        <h3> <img src="/assets/fleetnext_home_53.jpg">&nbsp;&nbsp;Extend vehicle lifetime</h3><br/>
                                        <p>
                                          Regular preventive maintenance (PM) of your vehicles can help prolong its life and reduce vehicle downtime due to costly breakdowns. 
                                          With Fleetnext, you can be setup vehicle maintenance schedule and receive timely email reminders.  <br/><br/>
                                        </p>

                                </div>

                                <hr/>                                

                                <div class="service-item">                                        

                                        <h3><img src="/assets/fleetnext_home_75.jpg"> &nbsp;&nbsp;Stay in compliance</h3><br/>
                                        <p>
                                          Driver licenses and vehicle documents such as permits, insurance certificates, taxes need to be renewed on timely basis to stay in compliance with local transportation authorities and avoid late renewal penalties. <br/> <br/>
                                          Fleetnext will alert you with email reminders when documents are due for renewal.
                                        </p>


                                </div>

                                <hr/>

                                <div class="service-item">
                                        <h3> <img src="/assets/fleetnext_home_78.jpg">&nbsp;&nbsp;Scalable solution</h3><br/>
                                        <p>
                                          Fleetnext is a robust, scalable vehicle management platform. 
                                          It seamlessly accommodates additional vehicles and users as the size of your fleet grows.
                                        </p>

                                </div>


                        </div> <!-- /grid-3 -->
                </div>

                <%= render :partial => "signup" %>

        </div> <!-- /container -->