<% content_for :head do  %>
  <%= stylesheet_link_tag "tour.css" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5.css" %>
<% end %>

<div id="page-title">

        <h1> Features overview </h1>
        <p>See how Fleetnext comes with tools and functionality to make fleet management easier and more productive.</p>

</div> <!-- /page-title -->


<div id="content">

        <div class="container">

                <div class="row">

                <div class="grid-8">
                          <div class="service-item">
                                 <h3> <img src="/assets/allonline.jpg" alt="Fleetnext">
                                          All your vehicles
                                                </h3>

                                                <p>Maintain a profile for every vehicle in your fleet with data such as acquisition details, vehicle model, license plate number, ownership details, engine number, chassis number, fuel type and disposal details.
                                                        Scan and upload any paperwork related to the vehicle such as purchase invoices, registration certificates, warranty documents, manuals.
                                            </p>

                                </div>
                        </div>
                        <div class="grid-4">
                          <div class="service-item gallery">
                            <a href="/assets/fleet_image.jpg">
                <img src="/assets/screen.jpg" alt="Fleetnext">
                                </a>
                                </div>
                        </div>

                </div> <!-- /row -->
                <hr class="row-divider" />
                <div class="row">

                <div class="grid-4">
                          <div class="service-item gallery">
                           <a href="/assets/fleet_image.jpg">
                                   <img src="/assets/screen.jpg" alt="Fleetnext">
                           </a>
                                </div>
                        </div>
                        <div class="grid-8">
                          <div class="service-item">
                                 <h3> <img src="/assets/alerts.jpg" alt="Fleetnext">
                                         Get reminded about vehicle documentation renewals
                                                </h3>

                                                <p>Simplify the management of documentation for your vehicles such as insurance certificates,taxes, fitness certificates, permits. For each document, keep track of its expiry date, reference number, issuing authority.
In a snapshot, find documents that are due soon or have already expired. Enable email notifications to remind you if a document is due for renewal. Easily customize the type of documents and their notifications settings.
</p>
                                </div>
                        </div>


                </div> <!-- /row -->
                <hr class="row-divider" />
             <div class="row">

                <div class="grid-8">
                          <div class="service-item">
                                 <h3> <img src="/assets/tyre.jpg" alt="Fleetnext">
                                          Systematically track your tyre expenses
                                                </h3>

                                                <p>Track each and every tyre in your fleet - both original equipment fitment (on new vehicles) and purchased tyres. Store tyre make, model, size, position (front axle, rear axle, all position, free rolling), vendor purchase invoice and payment details.
                                                        List currently fitted tyres on a vehicle and update any tyre rotations. Find spare tyres or tyres sent to vendors for remould (recap). Analyze the total mileage of your tyre from the beginning to help you make smarter decisions when remoulding (recapping) or replacing existing tyres. Analyze your fleet's per km/ tyre costs.
                                            </p>

                                </div>
                        </div>
                        <div class="grid-4">
                          <div class="service-item gallery">
                                <a href="/assets/fleet_image.jpg" alt="Fleetnext">
                                   <img src="/assets/screen.jpg">
                           </a>
                                </div>
                        </div>

                </div> <!-- /row -->
                <hr class="row-divider" />
                <div class="row">

                <div class="grid-4">
                          <div class="service-item gallery">
                                <a href="/assets/fleet_image.jpg" alt="Fleetnext">
                                   <img src="/assets/screen.jpg">
                           </a>
                                </div>
                        </div>
                        <div class="grid-8">
                          <div class="service-item">
                                 <h3> <img src="/assets/update.jpg" alt="Fleetnext">
                                         Up-to-date vehicle mileage logs
                                                </h3>

                                                <p>Update daily odometer (mileage) readings for every vehicle. Units can be customized - kilometres, miles or hours.Use CSV files to import odometer data in bulk from your existing vehicle GPS tracking systems to avoid manual entry.</p>
                                </div>
                        </div>


                </div> <!-- /row -->
                <hr class="row-divider" />
             <div class="row">

                <div class="grid-8">
                          <div class="service-item">
                                 <h3> <img src="/assets/users.jpg" alt="Fleetnext">
                                          User administration
                                                </h3>

                                                <p>Fleetnext is a multi-user software. Add and remove users as your organization evolves. Each user can be assigned custom permissions for viewing, updating, exporting data across different modules.</p>

                                </div>
                        </div>
                        <div class="grid-4">
                          <div class="service-item gallery">
                                <a href="/assets/fleet_image.jpg" alt="Fleetnext">
                                   <img src="/assets/screen.jpg">
                           </a>
                                </div>
                        </div>

                </div> <!-- /row -->
                <hr class="row-divider" />
                <div class="row">

                <div class="grid-4">
                          <div class="service-item gallery">
                                <a href="/assets/fleet_image.jpg" alt="Fleetnext">
                                   <img src="/assets/screen.jpg">
                           </a>
                                </div>
                        </div>
                        <div class="grid-8">
                          <div class="service-item">
                                 <h3> <img src="/assets/upload.jpg" alt="Fleetnext">
                                         Export your data
                                                </h3>

                                                <p>Select one or more vehicles and download its data (such as vehicle profile, acquisition, disposal, documentation, tyres, service history, preventive maintenance schedule, odometer history) to Microsoft excel file . At any given point of time, you can take a backup of your entire account and save a local copy.</p>
                                </div>
                        </div>


                </div> <!-- /row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->
	
