<% content_for :head do  %>
  <%= stylesheet_link_tag "tour.css" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5.css" %>
<% end %>

<div id="page-title">

        <h1>Take a tour</h1>
        <p>See how web-based fleet management works</p>

</div> <!-- /page-title -->


<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-12">


                                <div class="service-item">

                                        <h3>Improve record-keeping and reduce paperwork</h3><br/>
                                        <p>
                                          Fleetnext provides an easy to use, intuitive interface to manage fleet information online.
                                          From acquisition to disposal, important vehicle lifecycle data such as purchase details, maintenance history, emergency repairs, fuel transactions,
                                          tyre positions can be stored into Fleetnext. You can also scan and upload any relevant paperwork such as invoices, warranty cards, registration documents,
                                          service work-orders etc.
                                        </p>
                                </div>

                                <hr/>

                                <div class="service-item">
                                    <h3>Access from anywhere, anytime</h3> <br/>
                                    <p>                                    
                                      Fleetnext is web-based software and thus no local software installation is required.
                                      Multiple users can securely access and update vehicle information from any branch or office. 
                                      Latest snapshot of fleet data is automatically made available to all the users.
                                      Get access to key analytics or reports from a mobile device while you are on the move.
                                    </p>
                                </div>

                                <hr/>

                                <div class="service-item">

                                        <h3>Reduce total cost of vehicle ownership (TCO)</h3><br/>
                                        <p>
                                          Vehicles are expensive to acquire and maintain.
                                          With the help of Fleetnext's reporting capabilities, fleet managers can better understand the spending patterns in maintenance, tyre and fuel expenses.
                                          They can make informed decisions, undertake timely actions to minimize expenses and streamline operations.
                                        </p>
                                </div>

                                <hr/>

                                <div class="service-item">

                                        <h3>Extend vehicle lifetime</h3><br/>
                                        <p>
                                          Regular preventive maintenance (PM) of your vehicles helps prolong its life and reduce vehicle downtime due to unforeseen breakdowns. 
                                          With Fleetnext, you can set-up a preventive maintenance schedule customized for every vehicle in the fleet.
                                          Enable reminders via email to alert you when a vehicle is due for service.
                                        </p>

                                </div>

                                <hr/>                                

                                <div class="service-item">                                        

                                        <h3>Stay in compliance</h3><br/>
                                        <p>
                                          Vehicle documents such as permits, insurance certificates, registrations, taxes need to be renewed on timely basis to stay in compliance with local transportation authorities and avoid late renewal penalties.
                                          Fleetnext will alert you with email reminders when documents are due for renewal. Similarly, driver license renewals can be managed using Fleetnext.
                                        </p>


                                </div>

                                <hr/>

                                <div class="service-item">
                                        <h3>Scalable solution backed by great support</h3><br/>
                                        <p>
                                          Being a "cloud" hosted platform, we take care of IT infrastructure (servers, databases) that work behind the scenes. 
                                          This infrastructure scales to seamlessly accommodate additional vehicles and workload as your organization grows.
                                          All this is backed with prompt technical support (via email, phone), useful tutorials and an ever-growing knowledge base.
                                          If there is any problem or question with the software, we are there to help you and we never charge you for that !
                                        </p>
                                </div>


                        </div> <!-- /grid-3 -->
                </div>

                <%= render :partial => "signup" %>

        </div> <!-- /container -->