<% content_for :head do  %>
  <%= stylesheet_link_tag "faq.css" %>
<% end %>


<div id="page-title">

        <h1>The Fleetnext advantage</h1>
        <p>Fleet software as a service</p>

</div> <!-- /page-title -->




<div id="content">

        <div class="container">

                <div class="row">

                <div class="grid-6 pagination-centered">
                          <div class="service-item">
                                 <h3>Simplified software-as-a-service (SAAS) delivery</h3><br/>
                                 <img src="/assets/tour/saas.png"  alt="Fleet software as a service" />
                                  <p></p>
                                  <p class="fleet_typo">a) <b>Subscription model</b></p>
                                  <p>Fleetnext is available on a yearly subscription (rental) basis. The subscription cost is based on the size of your fleet. There are no separate version upgrade costs or annual maintenance contracts.  New functionality and features are continuously being added to Fleetnext. These upgrades are made available to your account seamlessly without any business disruption.</p>
                                  <p class="fleet_typo">b) <b>No upfront huge capital expenditure</b></p>
                                  <p>All you need is a computer with web browser and broadband internet connectivity since software runs on IT infrastructure rented to you. Unlike traditional ERPs and desktop software, there is no need to invest in expensive servers, database licenses, on-site IT staff, networking infrastructure and get locked into ERP vendor's ecosystem for several years.</p>
                                  <p class="fleet_typo">c) <b>Faster implementation </b></p>
                                  <p>You can sign up for fleetnext and start using it now. A "getting started" guide will help you setup your account. In addition, our support team can assist you with smooth migration of your existing fleet data. Minimal capital expenditure and faster implementation times translates into a faster return on investment (ROI) for your organization.</p>
                                  
                                  <hr/>

                                  <h3>Superior technology</h3><br/>
                                  <img src="/assets/tour/rails.png" alt="Ruby on rails logo" />
                                  <p>Fleetnext is built using popular web applications framework called Ruby on rails (that powers popular applications like twitter,  groupon, basecamp etc).</p>
                                </div>
                        </div>
                        <div class="grid-6 pagination-centered">
                            <div class="service-item">
                                 <h3>Seamless branch & office integration</h3><br/>
                                 <img src="/assets/tour/building.png" alt="Branch and office connectivity" />
                                 <p>                                                                      
                                    Fleetnext is secure web based solution accessible 24 x 7 from any location.  
                                    Fleetnext helps you connect all your offices and branches with the latest information across all modules.  
                                  </p>

                                 <hr/>

                                 <h3>Privacy</h3><br/>
                                 <img src="/assets/tour/privacy.png" alt="Privacy" />
                                 <p>Fleetnext ensures your valuable data is accessible only to authorized users within your organization. Access to individual modules can be controlled by assigning custom permissions to each user - ranging from "full access" to "view only" to "no access". Audit logs are maintained to monitor daily activity of your users. Data protection measures within our company are undertaken for the privacy of your data.</p>		

                                  <hr/>

                                 <h3>Security</h3><br/>
                                 <img src="/assets/tour/security.png" alt="Security" />
                                 <p>Fleetnext is hosted on industry leading cloud computing infrastructure Amazon Web Services (AWS)  that powers more than 100000 businesses worldwide. AWS provides enterprise SLA's (service level agreements) to ensure reliability, security and continuous availability (99% uptime) of your application & data. Automated nightly database backups ensure smooth disaster recovery in event of any outages.</p>

                                  <hr/>

                                 <h3> Support</h3><br/>
                                 <img src="/assets/tour/support.png" alt="Fleetnext help" />
                                 <p>We care.  Our  team of experienced engineers will ensure that all your problems are resolved swiftly. Knowledge base and documentation is provided to support you.</p>
                            </div>
                        </div>

                </div> <!-- /row -->

                <hr/>
                     
                <div class="row">
                    <div class="grid-12 pagination-centered">
                      <%= link_to "View contact information", contact_path %>
                    </div>
                </div>                

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->
	
	
	